<template name="foodItem">

  <div class="post">
  

  <form >
 
  
    <div class="post-content">
      <b>{{name}}</b> &nbsp; &nbsp;
    </div>
    <i>{{ description}}</i>
       &nbsp;
       ${{charge}}
 {{ #if currentUser}}
<input type="hidden" name="foodName" value= "{{name}}"/>
<input type="hidden" name="webId" value= "{{webid}}"/>
<select name="foodQty">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>
   <input type="submit" value="Order" class="btn btn-primary"/>

   {{/if}}
   </form>
 	 </div>
</template>